html,
body,
.intro {
  height: 100%;
  width: 100%;
}

.container{
    text-align: right;
    padding:50px;;
    color: white;

}
.lead{
    line-height:40px;;
    font-size: 15px;
    margin: 0px;
}

#p2 {
    font-style: italic;
    text-align: right;
}

form{
    text-align: center;
    background-color: rgba(255,255,255,0.80);
}

input[placeholder]{
    font-style:italic;
}

.label{
    margin:0px;
    text-align: center;
}

.search-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uv-index{
    font-weight: 400;
}

.card-header{
    text-align: center;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}